<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_home.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    
    <main>
        <p>Welcome to the home page!</p>
        <p>Please <a href="/register">Register</a> or <a href="/login">Login</a></p>
    </main>

    <footer>
        <p>&copy; 2026 ...</p>
    </footer>
</body>
</html>