<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>

<body>

<h2>Create Account</h2>

<form method="POST">

<label>Username</label>
<br>
<input type="text" name="username" required>
<br><br>

<label>Password</label>
<br>
<input type="password" name="password" required>
<br><br>

<label>Role</label>
<br>
<select name="role">

<option value="admin">Admin</option>
<option value="clinician">Clinician</option>
<option value="patient">Patient</option>

</select>

<br><br>

<button type="submit">Register</button>

</form>

<br>

<a href="/login">Login</a>

</body>
</html>